.loginBody {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: #fff;
}

.signContainer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 60%;
    height: 100%;
    padding: 25px;
}

.bgContainer {
    width: 40%;
    height: 100%;
    background-image: url('../public/LoginBg.jpg');
    background-size: cover;
}

.signTitle {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.signSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 100%;
    background-color: #151d27;
}

.signSection>* {
    background-color: #151d27;

}

.input {
    height: 40px;
    width: 250px;
    border: 1px solid #333b45;
    outline: none;
    color: #fff;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 5px;
}

.signButton {
    height: 45px;
    width: 250px;
    border: none;
    background-color: #fff;
    color: #151d27;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.signButton.blue {
    background-color: #2d78c6;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.signButton.blue:hover {
    background-color: #1c5999;
    transition: background-color 0.3s ease-in-out;
}

.signButton.darkAndBlue {
    background-color: #151d27;
    color: #2d78c6;
    border: 1px solid #697481;
    transition: background-color 0.3s ease-in-out;
}

.signButton.darkAndBlue:hover {
    background-color: #212f3f;
    transition: background-color 0.3s ease-in-out;
}

.xMark {
    cursor: pointer;
}

.xMarkContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #fff;
}

.logoContainer {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.bigTitle {
    font-size: 60px;
    width: 310px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}